<div class="h-100 d-flex flex-column justify-content-center align-items-center">
  <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
    <div>
      <h2>About.</h2>
    </div>
    <div class="w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorem, dolor magni modi rem
      aspernatur
      eligendi accusamus mollitia eveniet aut sunt nostrum at illum doloremque quas velit pariatur consequatur deserunt
      nulla provident obcaecati alias, sit eius explicabo. Non vitae rem, assumenda quisquam repellendus ab corporis
      eveniet, dignissimos quam minima magnam!</div>
  </div>
</div>
